<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @savek.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @savek.last_name %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @savek.occupation %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @savek.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @savek.longitude %>
</p>

<p>
  <strong>Radius:</strong>
  <%= @savek.radius %>
</p>

<p>
  <strong>Avg rating:</strong>
  <%= @savek.avg_rating %>
</p>

<p>
  <strong>Ratings:</strong>
  <%= @savek.ratings %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @savek.gender %>
</p>

<%= link_to 'Edit', edit_savek_path(@savek) %> |
<%= link_to 'Back', saveks_path %>
